*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.navbar-brand{
    letter-spacing: 1px;
}

small{
    font-size: small;
}

body{
    background: #4b1d3f;
    color: white;
    font-family: 'Montserrat',sans-serif;
}

.header{
    height:100%;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Montserrat',sans-serif;
}

.head-img{
    border-radius: 10px;
    box-shadow: 0px 20px 50px #d62246;
}

.content-img{
    border-radius: 10px;
}

.skill,.projects,.about{
    margin-bottom:100px;
}

.btn-custom{
    background: #33658a;
}

.about-img{
    width: 300px;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 0px 20px 40px #d62246;
}

.footer{
    background: #d62246;
}

.skill1{
    background: #2f4858;
}

.skill2{
    background: #33658a;
}

.skill3{
    background: #86bbd8;
}

.skill4{
    background: #ec368d;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


/* MEDIA QUERIES */


@media(max-width:576px){
    .head-text{
        margin-top:30px;
        margin-bottom:70px;
    }

    .skill,.projects,.about{
        margin-bottom:30px;
    }
}
